h1, h2 {
  font-family: Lato;
}  
button{
  width: 40px;
  height: 400px;
}
.buttonBottom{
  
  height: 20px;
}
.bottomdiv{
  display: inline;  
  overflow: auto;
}
.rightdiv{
  position: fixed;
  right:0;
  top: 5;
  bottom: 0;
  width:10%;  
  height: 100%;
  display: none;
}
.topdiv{  
  display: inline;  
  overflow: auto;
}
audio{
  display: none;
}